.spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  .header_Card{
      justify-content: center;
  }
  .example-full-width {
    width: 100%;
  }
  .datePlacing{
    justify-content: right;
  }
  .cardSpacing{
      padding-top: 2px;
  }