:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }
  .card{
    width: 475px;
  }

  
  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }